.about-section {
    /* margin: 2rem; */
    background-color: #F7F5EB;
}

.overview {
    text-align: center;
    width: 100%;
}

.overview h1 {
    padding-bottom: 1rem;
    font-family: "Madimi One", serif;
}
#about-span {
    color: rgb(249, 180, 6);
}

.overview p {
    font-size: larger;
    line-height: 1.5rem;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;

}

.story-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 2rem; */
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.story {
    background-color: #4d4d4d;
    color: #f5eee5;
    width: 45%;
    padding: 2%;
    margin-left: 2.5rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.story h2 {
    color: greenyellow;
    margin-bottom: 1rem;
    font-family: "Madimi One", serif;
}

.story p {
    line-height: 1.8rem;
    font-size: large;
}

.values {
    background-color: #efdcc2;
    color: #4d4d4d;
    width: 45%;
    padding: 2%;
    margin-right: 2.5rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.values h2 {
    color: brown;
    margin-bottom: 1rem;
    font-family: "Madimi One", serif;
}

.values ul {
    list-style: none;
    font-size: large;
    line-height: 1.8rem;
}

#choose {
    margin-top: 4rem;
    font-family: "Madimi One", serif;
    text-align: center;
}
.problem-solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.problem-solution h2 {
    margin-bottom: 1rem;
    font-family: "Madimi One", serif;
}
.problem-solution p {
    line-height: 1.8rem;
    font-size: large;
}

.problem {
    background-color: #efdcc2;
    color: #4d4d4d;
    width: 45%;
    padding: 2%;
    margin-left: 2.5rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.problem h2 {
    color: #e81616;
}

.solution {
    background-color: #4d4d4d;
    color: #f5eee5;
    width: 45%;
    padding: 2%;
    margin-right: 2.5rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.solution h2 {
    color: gold;
}
.solution span {
    font-weight: bolder;
    color: greenyellow;
}

@media (max-width: 767px) {
    .story-values {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story {
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
        padding: 4%;
    }

    .values {
        margin: auto;
        width: 90%;
        padding: 4%;
        margin-bottom: 1rem;
    }

    .problem-solution {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .problem {
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
        padding: 4%;
    }

    .solution {
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
        padding: 4%;
    }
}